*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: $color-gray-9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $fs-0 + 3;
    font-weight: $fw-2;
    line-height: $lh-0;
}


::selection{
    color: $color-white-0;
    background-color: $color-yellow-0;
}

