.masiveBanner {
    @extend %backgroundImg;
    background-image: url('../images/index-banner-2.jpg');
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .masiveBanner__content {
        text-align: center;

        h1 {
            @include styleText ($fs-3, $fw-1 , $color-white-0);
            letter-spacing: 5px;
            margin-bottom: 0;
        }

        p {
            @include styleText ($fs-1, $fw-0 , $color-white-0);
            letter-spacing: 6px;
            margin-bottom: 0;
        }
    }

    @include responsive('md') {
        .masiveBanner__content {
            h1 {
                font-size: $fs-6;
            }

            p{
                font-size: $fs-1 - 2;
            }
        }
    }
}