.massiveHanging{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @extend %backgroundImg;
    background-image: url(../images/8.jpg);
    background-attachment: fixed;
    padding: $p-7 0;
    .massiveHanging__content{
        h2{
            @include styleText($fs-1 - 4, $fw-0, $color-yellow-0);
            letter-spacing: $ls-0 + 2;
            margin: 0;
        }
        h3{
            @include styleText($fs-4, $fw-0, $color-white-0);
            letter-spacing: $ls-0 + 1;
            margin: 0;
            line-height: 1.6;
        }

        button{
            margin-top: $m-4;
        }
    }
    @include responsive('md'){
        .massiveHanging__content{
            h2{
                font-size: $fs-0 + 4;
            }
            h3{
                font-size:$fs-2 + 2;
            }
        }
    }
}